@use '../../styles/variables.scss' as *;
@use '../../styles/mixins.scss' as *;

.combobox {
    overflow: hidden;
    width: 100%;
    margin: 10px 0;
  
    &__header {
      background-color: $main-color;
      border: none;
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-radius: 5px;
      width: 100%;
      padding: 15px;
      @include text-style(18px, 700, white);
      cursor: pointer;   
      user-select: none; 
      -webkit-tap-highlight-color: transparent;
    }
  
    &__arrow {
        transition: transform 0.3s ease-in-out;
        width: 24px;
        height: 24px;

        &--open {
          transform: rotate(180deg);
        }
      }
    
    &__content {
      max-height: 0;
      overflow: hidden;
      transition: max-height 0.3s ease-in-out, padding 0.3s ease-in-out;
      padding: 0 15px;
      background: rgba(246, 246, 246, 0.45);
      @include text-style(18px, 400, black);
      line-height: 1.5em;

      &--open {
        max-height: 200px;
        padding: 15px;
        
      }
    }
 
    &__list{
      padding: 0;
      margin: 0;

      &--no-bullets{
        list-style-type: none;
      }
    }

    @media (max-width: 768px) {
      &__header {
        font-size: 13px;
        padding: 12px;
      }
  
      &__arrow {
        width: 16px;
        height: 16px;
      }
  
      &__content {
        font-size: 13px;
        padding: 0 12px;
        line-height: 1.5em;

        &--open {
          padding: 12px;
        }
      }
  }
}
  