.kasa-header{
    display: flex;
    justify-content: flex-start;
    margin: 40px 0;
    padding: 0 50px;
    .logo {
        width: 210px;
        height: 68px;
    }

    .kasa-navigation{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }
    .nav-links{
        display: flex;
        font-family: 'Montserrat';
        font-weight: 500;
        font-size: 24px;
        gap: 60px;
    }

    .nav-links .link{
        text-decoration: none;
        color: black;
    }

    .nav-links .link:hover{
        text-decoration: underline;
    }

    @media (max-width: 768px){
        padding: 0 15px;
        margin: 15px 0;
        .logo {
            width: 145px;
            height: 47px;
        }
        .nav-links{
            font-size: 12px;
            text-transform: uppercase;
            gap: 30px;
        }
    }
}