@use '../../styles/mixins.scss' as *;

.header{
    display: flex;
    margin: 40px 0;
    padding: 0 50px;
    
    &__logo {
        width: 210px;
        height: 68px;
    }

    &__navbar{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    &__navbar-links{
        display: flex;
        gap: 60px;
    }

    &__link{
        @include text-style(24px, 500, black);
        text-decoration: none;

        &:hover{
            text-decoration: underline;
        }
    }


    @media (max-width: 768px){
        padding: 0 15px;
        margin: 15px 0;
        
        .header__logo {
            width: 145px;
            height: 47px;
        }
        .header__navbar-links{
            text-transform: uppercase;
            gap: 30px;
        }
        .header__link{
            @include text-style(12px, 500, black);
        }
    }
}