@use '/src/styles/mixins.scss' as *;
.carousel{
    position: relative;
    height: 415px;
    width: 100%;
    margin: 20px 0;

    &__button{
        position: absolute;
        top: 40%;
        z-index: 1;
        padding: 10px 20px;
        cursor: pointer;
        border: none;
        background: none;

        &-icon {
            @include text-style(80px, 700, white);
        }
        &--left{
            left: 0;
        }
        &--right{
            right: 0;
        }
    }
    
    
    &__image{
        height: 100%;
        width: 100%;
        object-fit: cover;
        border-radius: 25px;
    }
    &__counter{
        @include text-style(24px, 500, white);
        position: absolute;
        bottom: 20px;
        right: 50%;
    }

    @media (max-width:767px) {
        height: 255px;
        .carousel__counter{
            display: none;
        }
        .carousel__button-icon{
            font-size: 24px;
        }
        .carousel__image{
            border-radius: 10px;
        }

    }
}
