@use '../../styles/mixins.scss' as *;

.footer{
    display: flex;
    flex-direction: column;
    background-color: black;
    height: 209px;
    
    &__logo{
        align-self: center;
        width: 122px;
        height: 39px;
        margin: 66px 0px 20px;
    };

    &__text{
        @include text-style(24px, 500, white);
        align-self: center;

        @media (max-width: 767px) {
                font-size: 12px;
                width: 133px;
                text-align: center;
        }
    }   
}
