.page-error {
    display: flex;
    flex-direction: column;
}
.error404{
    align-self: center;
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 288px;
    color: rgba(255, 96, 96, 1);
    margin: 0;
}
.error-text {
    align-self: center;
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 36px;
    color: rgba(255, 96, 96, 1);
    /* margin-top: 10px; */
}
.return-text {
    align-self: center;
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 18px;
    color: black;
    margin: 60px 0px;
    cursor: pointer;

}