@use '/src/styles/variables.scss' as *;
@use '/src/styles/mixins.scss' as *;

.page-error {
    display: flex;
    flex-direction: column;
    color: $main-color;

    &__code{
        @include text-style(288px, 700, $main-color);
        align-self: center;
        margin: 60px 0;
    }
    &__text {
        @include text-style(36px, 500, $main-color);
        text-align: center;
        margin: 0 0 80px 0px;
    }
    &__link {
        @include text-style(18px, 500, black);
        align-self: center;
        margin: 60px 0px;
        cursor: pointer;
    }

    @media (max-width: 767px) {
        &__code {
            font-size: 96px;
            margin: 60px 0;
        }

        &__text {
            align-self: center;
            font-size: 18px;
            width: 265px;
            text-align: center;
            margin: 0 0 80px 0px;
        }

        &__link {
            font-size: 14px;
            margin: 0 0 80px 0px;
        }
    }
}