@use '../../styles/mixins.scss' as *;
.banner{
    display: flex;
    height: 223px;
    width: 100%;
    border-radius: 25px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5);
    overflow: hidden;
    position: relative;
    
    &__image{
        width: 100%;
        object-fit: cover;
        filter: brightness(0.6);
    }
    &__text {
        position: absolute;
        top: 35%; 
        left: 2%; 
        @include text-style(48px, 700, white);
        text-align: center;
        width: 100%;
    }

    @media (max-width: 768px) {
        height: 110px;
        border-radius: 10px;
        &__text{
            top: 25%;
            left: 1%;
            font-size: 24px;
            text-align: left;
            margin-left: 20px;
            margin-right: 20px;
            width: 225px;
        }
    }

}

