.kasa-banner{
    display: flex;
    justify-content: center;
    height: 223px;
    width: 100%;
    border: 1px solid black;
    border-radius: 25px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5);
    overflow: hidden;
    position: relative;
}
.kasa-banner img{
    width: 100%;
    object-fit: cover;
    filter: brightness(0.6);
}
.kasa-banner p {
    position: absolute;
    top: 50%; /* розміщує текст по вертикалі по центру */
    left: 50%; /* розміщує текст по горизонталі по центру */
    transform: translate(-50%, -50%); /* центрує текст точно по центру */
    color: white; /* колір тексту */
    font-size: 48px; /* розмір тексту */
    font-family: 'Montserrat', sans-serif;;
    font-weight: 700; /* жирний текст */
    text-align: center;
    width: 100%;
    margin: 0; /* щоб уникнути зайвих відступів */
  }